*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
    box-sizing: border-box;
}

header{
    position: fixed;
    background-color: #fff;
    width: 100%;
}

.topmenu{
    padding: 10px 0;
    width: 100%;
    margin:0;
    border-bottom: 1px solid #d3d3d3;
    display: inline-block;
    text-align: center !important;
}

.topmenu li {
    font-size: 16px;
    font-weight: 700;
    padding: 0 5px;
    display: inline-block;
}

.topmenu li .logopinterest{
  color: #bd081c;
}

.topmenu li a{
    padding: 0;
    text-decoration: none;
}

.icon-pinterest{
  font-size: 40px;
  color: #BD081C;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering:auto;
}

.icon-user{
  font-size: 25px;
  color: #b5b5b5;
}

.icon-menu{
  font-size: 25px;
  color: #b5b5b5;
}

.icon-bubble2{
  font-size: 25px;
  color: #b5b5b5;
}


.bottommenu{
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.bottommenu .botones{
  background-color: #746051;
  color: #fff;
  font-weight: 700;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  margin: 0 5px;
  display: inline-block;
}

.bottommenu .botones p.light{
  background-color: rgba(194,149,110,.5);
  padding: 20px 25px;
  border-radius: 6px;
  display: inline-block;
}

.bottommenu .botones p.obs{
  padding: 20px 25px;
  border-radius: 6px;
  display: inline-block;
}


.topmenu .buscador{
  background-color: #efefef;
  border-radius: 5px;
  margin: 0 16px;
  width: 70%;
  padding: 8px;
  display: inline-block;
}

.topmenu .buscador .lupa input{
  width: 93%;
  border: none;
  line-height: 20px;
  font-size: 18px;
  outline: 0;
  background-color: transparent;
}

input{
  width: 93%;
  border: none;
  line-height: 20px;
  font-size: 18px;
  outline: 0;
  background-color: transparent;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-rendering: auto;
  display: inline-block;
  text-align: start;
  cursor:auto;
}

.imagenes {
    padding: 0 80px;
    margin-top: 180px;
    column-width: 220px;
    column-count: 4;
    column-gap: 20px;
    display: inline-block;
}


.imagenes .post{
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;

}

.imagenes .post img{
    width: 100%;
    border-radius: 20px;
}

.image{
  max-width: 100% !important;
  border-radius: 6px;
}

.imagenes .post .text{
  float: left;
  width: 70%;
  margin-top: 15px;
}


.imagenes .post h4 {
    margin-bottom: 10px;
}


h4 {
    display: block;
    font-weight: bold;
}
